html { font-size: 16px}
header {
  background: black;
  margin: 0;
  padding: 2rem;
}

a {
  color: red;
}

nav a {
  color: purple;
}

h1 {
  color: white;
  background: black;
  margin: 0;
  padding: 0 0 0.5rem 1rem
}

h5 {
  color: gainsboro;
  background: black;
  margin: 0;
  padding: 0 0 1rem 1rem;
}

nav {
  background: rgba(179, 179, 179, 0.9);
  padding: 0.5rem 2rem 0.5rem 2rem; 
}

section {
  width: 21rem
}

aside {
  width: 10rem
}